# Tipos Básicos de Dados

In [7]:
print(True)#Verdadeiro
print(False)# Falso
print(1.2 + 1)# Float ponto flutuante ou valor Real
print('Palavras em aspas simples ou dupla são String')# String são textos
#print( 3 + '3' ) -> ambiguidade pois tem um numero INTEIRO e uma STRING
print( [1,2,3]) # lISTA  armazena valores dentro de uma estrutura
print({'nome':'Pedro','idade':22}) #Dicionário é composto de Chave : Valor

True
False
2.2
Palavras em aspas simples ou dupla são String
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}

# Variáveis

In [4]:
a = 10 #  variavel (A) é tipo INT
b = 15.2 # variável (B) é tipo FLOAT 

print(a + b)

a = 'Agora sou uma String' # Variável (A) passa a ser do tipo STRING
print(a)

25.2
Agora sou uma String

# COMENTÁRIOS

In [1]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular o 
quanto vai sobrar no 
final do mês!
"""
print(salario - despesas)

'''
A ideia é calcular o 
quanto vai sobrar no 
final do mês!

'''

#  print ('Fim')
print('Fim de verdade') # Comentário aqui ttambém vale

994.25
Fim de verdade

# Operadores Aritméticos

In [10]:
print(2 + 3) # adição
print(4 - 7) # subtração
print(2 * 5.3) # multiplicação
print(9.4 / 3) # divisão retornara um numero float
print(9.4 // 3) # divisão retornara um número inteiro
print(2 ** 8 ) # exponenciação 
print(10 % 3) # Modulo resto da divisão 3

5
-3
10.6
3.1333333333333333
3.0
256
1

In [20]:
salario = 3450.45
despesas = 2456.2

percentual_comprometido  = despesas / salario * 100
print(percentual_comprometido)

71.18491790925822

# Operadores Relacionais

In [32]:
print(3 > 4) # maior
print(4 >= 3) # maior igual
print(1 < 2) # menor
print(3 <= 1) # menor igual
print(3 != 2) # diferente
print(3 == 3) # igual de igualdade (tipo)
print(2 == '3') # igual de igualdade (tipo)

False
True
True
False
True
True
False

# Operadores de Atribuição

In [13]:
a = 3 
a = a + 7
print(a)

a += 5 # a = a + 5 / essa é uma forma mais simplificada a +='' 5 
print(a)

a -= 3 # a = a - 3    subtração
print(a)

a *= 2 # a = a * 2   multiplicação
print(a)

a /= 4 # a = a / 4    divisão
print(a)

a %= 4 # a = a % 4     resto da divisão
print(a)

a **= 8 # a = a ** 8      exponenciação
print(a)

a //= 256 # a = a // 256     divisão numero inteiro     
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores lógicos

In [30]:
True and False

7 > 3 and 2 > 3

# Tabela verdade AND
True and True # True
True and False # False
False and True # False
False and False # False

# Tabela verdade do OR
True or True # True
True or False # True
False or True # True
False or False # False

# Tabela verdade do XOR !=
True != True # False
True != False # True
False != True # True
False != False # False

# Operador de NEGAÇÂO ( UNÁRIO)
not True # False
not False # True

#Desafio

saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0 

despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas

meta

True

In [39]:
# Desafio operadores Lógicos

# os Trabalhos
trabalho_terca = False
trabalho_quinta = False

"""
- Confirmando os 2:TV 50' + Sorvete
- Confirmando apenas 1: TV 32' + Sorvete
- Nenhum confirmado: fica em casa
"""
tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #xor
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudável={}".format(tv_50, tv_32, sorvete, mais_saudavel))

# "{1}, {0}, {2} ".format(18, 'Dener',  True)

Tv50=False Tv32=False Sorvete=False Saudável=True

'Dener, 18, True '

# Operadores Unários

In [57]:
a = 3 
# a++ em python não é possivel incrementar a++ ou a-- só possivel fazer adição a += 1

# 0 em python tem o valor FALSE e qualquer outro numero em Python tem o valor TRUE
not 0 # True
not 1 # False
not 4 # False

not -2 #False

not False # True
not True # False

not not False # False
not not True # True

True

# Operadores Ternários

In [75]:
esta_chuvendo = True
# nessa expressão o TRUE será o segundo'molhadas' e o fALSE será o primeiro'secas'
print('Hoje estou com  as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])

# nessa expressã o TRUE será o primeiro'molhadas'  e o fALSE será o segundo'secas'
print('Hoje estou com as roupas ' + ('molhadas. 'if esta_chuvendo else 'secas. ' ))

jogar_cs = False

# nessa expressão o TRUE será o SEGUNDO 'com os Amigos' e o FALSE será o PRIMEIRO'Sozinho'
print('Mais tarde vou jogar ' + ('Sozinho. ', 'Com os Amigos.')[jogar_cs])

# nessa expressão o TRUE será o PRIMEIRO'com os amigos' e o FALSE'Sozinho'
print('Mais tarde vou jogar ' + ('Com os amigos. ' if jogar_cs else 'Sozinho. '))

Hoje estou com  as roupas molhadas.
Hoje estou com as roupas molhadas.
Mais tarde vou jogar Sozinho.
Mais tarde vou jogar Sozinho.

# Mais Operadores

In [13]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla'] # lista de membro
2 in lista  # 2 esta na lista acima (True)
'Carla' in lista # Carla esta na lista acima (True)
'Rafaela' in lista # Rafaela não esta na lista aciima(False)

# Operador de Identidade
x = 3
y = x
z = 3

x is y     # x tem o mesmo valor que y   (True)
y is z     # y tem  o mesmo valor que z  (True)
x is not z   # x tem o mesmo valor que Z (False)

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b # TRUE tem a mesma idadentido (espaço de memoria)
lista_c is lista_b # FALSE não tem a mesmo identidade

False

# Conversão de Tipos

In [29]:
2 + 3
'2' + '3' # concatenar
# 2 + '3' ERRO POIS O PYYHON NÃO PODE SOMAR UM (INTEIRO) + (STRING)

a = 2
b = '3'
c = 14.3
print(type(a))
print(type(b))

print(a + int(b)) # Converti de STRING para INTEIRO = 5
print(str(a) + b) # Converti de INTEIRO para STRING e concatenei juntando '2' + '3'   = 23
print(b + str(c)) # Converti de FLOAT para STRING e concatenei '3' + '14.3'   = 314.3
print(float(b) + c) # Converti de STRING para FLOAT e Somei b + c     = 17.3

<class 'int'>
<class 'str'>
5
23
314.3
17.3

# Coerção Automática

In [39]:
10 / 2 # DIVISÃO RESULTA EM UM NUMERO FLOAT  5.0
type(10/2) # float
10 / 3 # float
10 // 3 # esse tipo de  Divisão // resulta em um numero INTEIRO
type(10 // 3)
10 // 3.3 
2 + True # True é 1 e por isso o Resultado é 3
2 + False # False é 0 por isso o Resultado é 2

2

# Tipos Numéricos

In [4]:
dir(int)
dir(float)


a = 5
b  = 2.5

type(a)
type(b)


# b é um numero INTEIRO ? 
b.is_integer() # b é um INT ? =  FALSE
5.0.is_integer() # 5.0 é um INT? = TRUE


int.__add__(2, 3) # 2 + 3 soma os dois numero INTEIROS

float.__add__(2.4, 5) # 2.4 + 5 soma de um numero float e Inteiro

dir(int)

(-2).__abs__()# função absoluto
abs(-2)# função absoluto

2

In [24]:
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)
# função getcontext() é usada para acessar o contexto decimal atual
#  .prec é a precisão que nesse casa são 4 casas decimais
getcontext().prec = 4
Decimal(1) / Decimal(7)

# Decimal.max compara os 2 numeros e retorno o que tem o VALOR MAIOR
Decimal.max(Decimal(1), Decimal(7))

Decimal('7')

# Tipos Strings

In [81]:
dir(str)
nome = 'Saulo Pedro'
nome

nome[6] # Indexador : Consigo acessar cada letra de um STRING através de um par de CHAVES [ ] 
# nome[6] = 'F'  Não é possivel alterar/atribuir uma  STRING

# 'marca d'agua' não é possivel usar ASPAS simples dessa forma 
"Dias D' Avila" == "Dias D\Avila" # Assim é possivel usar Aspas Duplas e Simples na mesma STRRING

"Teste \" Funciona!" 
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """ Com 3 ASPAS duplas é possivel escrever em 
multiplas linhas"""

doc

''' Com 3 ASPAS Simples é possivel 
 também escrever em multiplas linhas'''


# \n quebra linha
print(""" Com 3 ASPAS duplas é possivel escreverem\n multiplas linhas""")

# \t é o tab
print(""" Com 3 ASPAS duplas é possivel escreverem\n \t.... multiplas linhas""")

 Com 3 ASPAS duplas é possivel escreverem
 multiplas linhas
 Com 3 ASPAS duplas é possivel escreverem
 	.... multiplas linhas

# Acessando o indice de uma String

In [109]:
nome = 'Ana Paula'
nome[0] # indice [0] é o A
nome[6] # indice [6] é u
nome[-3] # indice [-3] é contando de tras pra frente nesse casa é o [u]
nome[4:] # esse indice [4:0] acessa a String a partir do [4] em Diante
nome[-5] # acessa a String de tras pra frente
nome[:3] # Mesmo sem ter nada antes do ( : ) acessa a string ate o [:3]
nome[2:5] # depois do ( : ) sempre retornará uma string antes
nome[::] # dois :: retorna a STRING completa

numeros = '1234567890'
numeros
numeros[::]
numeros[::2] # pula de 2 em dois numeros ('13579')
numeros[1::2] # comeã do numero 1 e vai pulando de 2 em 2   ('24680')
numeros[::-1] # retorna todos os numeros de trás pra frente
numeros[::-2] # retorna todos os numeros de trás pra frente pulando de 2 em 2
numeros[::-3] # retorna todos os numeros de trás pra frente pulando de 3 em 3

'0741'

# Lista

In [46]:
lista = []
type =(lista) # tipo da função
dir(lista) # verifica quais funções pode usar no tipo lista
len(lista) # len ver a quantidade de caracteres (lista) possui
lista.append(1) # adiciona a lista o valor 1
lista.append(5) # adiciona a lista o valor 5
len(lista) # conta a quantdade de caracteres a (lista) possui

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5) # Removeu o numero 5 da lista
nova_lista 
nova_lista.reverse() # Inverteu a seuencia da lista de trás para frente
nova_lista

['Bia', 'Ana', 1]

In [101]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme') # Indica a posição do elemento na lista
# lista.index(42) # Nãop esta dentro da lista
lista[2] # indica qual é o elemento que esta na posição do 2
1 in lista # Retorna True/False se o elemento 1 esta dentro da lista
'Rebeca' in lista # Retorna True/False se o elemento Rebeca esta na lista
'Pedro' not in lista # Retorna True/False se o elemeno Pedro esta na lista
#lista[5] # a posição 5 não existe na lista
lista[-1] # retorna o ultimo elemento da lista
lista[::-1]# Retorna a lista de tras pra frente
lista
lista[1:3]

[5, 'Rebeca']

In [113]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
# exibir a lista da posição [1] ate a posição 3, porém sempre a ultima posição não retorna valor
lista[1:3] 
lista[1:-1] # exibe a indice 1 até a -1 que é a ultima, porme só exibe até penultima
lista[1:] # acessa a lista do indice 1 ate o final
lista[:-1] # acessa a  lista do indice 0 até a peultima posição
lista[:] # acessa a lista completa
lista[::2] # acessa a lista pulando em intervalos de 2 em 2
lista[::-2] # acessa a lista de tras pra frente pulando  em intervalos de 2 em 2
del lista[2] # Deleta um elemento da lista por indice.
lista
del lista[1:] # Deleta todos os elementos a partir do indice 1
lista

['Ana']

# Tupla

In [20]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
# help(tupla)
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]
# tupla[0] = 'novo'# não dá pra fazer atribuição ou alteração de um elemento numa TUPLA
cores = ('Verde', 'Amarelo', 'Azul', 'Azul', 'Branco')
type(cores)
cores[0]
cores[1:] # acessa a lista a partir do indice [1]
cores.index('Amarelo') # diz qual indice esta o elemento Amarelo
cores.count('Azul') # conta a quantidade de elementos Azul

2

# Dicionários

In [67]:
# ESTRUTURA CHAVE : VALOR
# chave vai sempre estar antes do :
# o valor vai estar depois do :
pessoa = {'nome': 'Prof(a). Ana', 'Idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa['nome'] # para acessar o valor 'Prof(a). Ana' você declara a CHAVE 'nome'
pessoa['Idade']
pessoa['cursos']
pessoa['cursos'][1] # acessando o indice que esta dentro do dicionário

pessoa.keys() # acessa todas as CHAVES do dicionário
pessoa.values() # acessa todos os VALORES do dicionário
pessoa.items()
pessoa.get('Idade') # Acessa e retorna o elemento que esta na CHAVE
pessoa.get('nome') # Acessa e retorna o elemento que esta na CHAVE

'Prof(a). Ana'

In [127]:
# MANIPULANDO OS DADOS DENTRO DE UM DICIONÁRIO
pessoa ={'nome': 'Prof(a) Alberto', 'Idade': 39, 'cursos': ['React', 'Python']}
pessoa['Idade'] = 44

pessoa['cursos'].append('Java') # adiciona 'Java' na lista cursos
pessoa['cursos'].remove('React')# remove 'React' na lista cursos
pessoa['cursos'].reverse()# acessa a lista de tras pra frente

pessoa.pop('Idade') # pessoa.pop Acessa o valor e imediatamente Remove/deleta do dicionário
pessoa

# pessoa.update adiciona chave e valor ao final do Dicionário
pessoa.update({'idade':40, 'Sexo': 'M'})
pessoa

del pessoa['cursos'] # deleta a chave 'cursos'e seus valores
pessoa

pessoa.clear() # DELETA/LIMPA todos os dados do dicionário
pessoa

{}

# CONJUNTO

In [88]:
# CONJUNTO É DELIMITADO POR CHAVES, SÓ POSSUI VALORES
# CONJUNTO NÃO INDEXADO
# CONJUNTO NÃO GARANTE ORDENAÇÃO
# CONJUNTO NÃO ACEITA REPETIÇÃO DE VALORES
a = {1, 2, 3}
type(a)
# a[0]
a = set('codddd3r')
print(a)
print('3' in a, 4 not in a) # OPERADOR MEMBRO (TRUE /  FALSE)

c1 = {1, 2}
c2 = {2, 3}
c1.union(c2) # uniu o elemeto do C1 e C2 sem repetir os mesmo valores 
c1.intersection(c2) # mostra o elemento/valor que é comum entre as duas variaveis
c1.update(c2) # Atulizou a variável C1 Apartir dos valor contidos na Variável C2
c1

c2 <= c1 # C2 é subconjunto de C1 pois esta contido os valores de C2 no C1
c1 >= c2 # C1 é supercjunto de C2 pois esta contido os valores de C1 no C2

{1, 2, 3} - {2, 3} #diferença

c1 - c2 # diferença
c1 -={2} # removeu o elemento 2 da c1, e a c1 ficou somento com valor 1,3
c1

{'c', 'r', '3', 'd', 'o'}
True True

{1, 3}

# Interpolação

In [140]:
# %s é usado para substituir / alterar valores dentro de uma STRING
# %d é usado para substituir / alterar valores dentro de valor INT / INTEIRO
# %f é usado para substituir / aletrar valores float com flutuante
from string import Template

nome, idade = 'Ana', 30

print('Nome: %s Idade: %d' % (nome, idade)) # Maneira mais antiga de INTERPOLAÇÃO e menos usada
print('Nome: {0} Idade: {1}'.format(nome, idade)) # Maneira usada em Python  na versão menor que 3.6
print(f'Nome: {nome} Idade: {idade}')  #versão a partir do python > 3.6

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30